# ***ANN_Project Prediction File***

In [ ]:
import pickle
label_encoder_gender_path='/content/drive/MyDrive/ANN_Project/ANN_P1/label_encoder_gender.pkl'
one_hot_encoder_Path='/content/drive/MyDrive/ANN_Project/ANN_P1/one_hot_encoder.pkl'
scaler_path='/content/drive/MyDrive/ANN_Project/ANN_P1/scaler.pkl'

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
from tensorflow.keras.models import load_model
from sklearn.preprocessing import OneHotEncoder,LabelEncoder,StandardScaler
one_hot_encoder_geo_obj=OneHotEncoder()
import pandas as pd

In [ ]:
import os
print(os.listdir('/content/drive/MyDrive/'))

['Classroom', 'Hello ', 'Colab Notebooks', 'ANN_Project']

In [ ]:

# load the model
import tensorflow as tf
model=tf.keras.models.load_model('/content/drive/MyDrive/ANN_Project/ANN_P1/model.h5')

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [ ]:
# load the onehot_encoder,label_encoder and scalar
import pickle
with open('/content/drive/MyDrive/ANN_Project/ANN_P1/label_encoder_gender.pkl','rb') as file:
  label_encoder_gender=pickle.load(file)
with open('/content/drive/MyDrive/ANN_Project/ANN_P1/one_hot_encoder.pkl','rb') as file:
  one_hot_encoder_geo=pickle.load(file)
with open('/content/drive/MyDrive/ANN_Project/ANN_P1/scaler.pkl','rb') as file:
  scaler=pickle.load(file)

In [ ]:
input_data={
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [ ]:
print("Loaded objects:")
print("label_encoder_gender type:", type(label_encoder_gender))
print("one_hot_encoder_geo type:", type(one_hot_encoder_geo))
print("scaler type:", type(scaler))

Loaded objects:
label_encoder_gender type: <class 'sklearn.preprocessing._label.LabelEncoder'>
one_hot_encoder_geo type: <class 'sklearn.preprocessing._encoders.OneHotEncoder'>
scaler type: <class 'sklearn.preprocessing._data.StandardScaler'>

In [ ]:
input_df=pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [ ]:
#  Initializing onehot_encoder instatnce and then aply transform and then convert to Dataframe


from sklearn.preprocessing import OneHotEncoder
geo_input_df = pd.DataFrame([[input_data['Geography']]], columns=['Geography'])
geo_encoded_array = one_hot_encoder_geo.transform(geo_input_df).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded_array, columns=one_hot_encoder_geo.get_feature_names_out(['Geography']))

In [ ]:
#  Initializing label_encoder

input_df['Gender']=label_encoder_gender.transform(input_df['Gender'])

In [ ]:
#  Concatenate  the onehot encoded column geography
# Drop only if 'Geography' is still present
if 'Geography' in input_df.columns:
    input_df = input_df.drop("Geography", axis=1)

# Now concatenate safely
input_df = pd.concat([input_df, geo_encoded_df], axis=1)

In [ ]:
input_df

In [ ]:
# Scaling the data

input_scaled=scaler.transform(input_df)
input_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [ ]:
#  predict the model
prediction=model.predict(input_scaled)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 112ms/step

array([[0.03262246]], dtype=float32)

In [ ]:
pred_probability=prediction[0][0]
pred_probability

np.float32(0.03262246)